
<div class="box-header with-border">
    <h3 class="box-title">
      <strong>
			New Dog
      </strong>
    </h3>
</div>
&nbsp;

<div>
	
<%= render 'form', dog: @dog %>
<p></p>
<%= link_to 'Back', dogs_path ,:class =>'btn btn-warning'%>
</div>
