
<div class="box-header with-border">
    <h3 class="box-title">
      <strong>
			Novo Cachorro
      </strong>
    </h3>
</div>
&nbsp;

<div>
	
<%= render 'form', dog: @dog %>

<%= link_to 'Back', dogs_path %>
</div>
