
<div class="box-header with-border">
    <h3 class="box-title">
      <strong>
			New Breed
      </strong>
    </h3>
</div>
&nbsp;

<div>
	
<%= render 'form', breed: @breed %>

<p></p>
<%= link_to 'Back', breeds_path ,:class =>'btn btn-warning'%>
</div>
