<section class="content">
  <div class="row">
      <div class="col-lg-2> col-xs-3">
        <%= link_to new_dog_path do %>
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>New Dogs</h3>
              <p>Add a new super</p>
            </div>
            <div class="icon">
              <i class="fa fa-university"></i>
            </div>
            <div class="small-box-footer">
              <i class="fa fa-arrow-circle-right"></i> <span>More info</span>
            </div>
          </div>
          <% end %>
      </div>  

      <div class="col-lg-2> col-xs-3">
        <%= link_to dogs_path do %>

          <div class="small-box bg-red">
            <div class="inner">
              <h3>List of dogs</h3>
              <p>List of our super dogs.</p>
            </div>
            <div class="icon">
              <i class="fa fa-star-o"></i>
            </div>
            <div class="small-box-footer">
              <i class="fa fa-arrow-circle-right"></i> <span>More info</span>
            </div>
          </div>
          <% end %>
      </div>  


           <div class="col-lg-2> col-xs-3">
        <%= link_to breeds_path do %>

          <div class="small-box bg-red">
            <div class="inner">
              <h3>List of Breeds</h3>
              <p>List of knowned breeds.</p>
            </div>
            <div class="icon">
              <i class="fa fa-arrows"></i>
            </div>
            <div class="small-box-footer">
              <i class="fa fa-arrow-circle-right"></i> <span>More info</span>
            </div>
          </div>
          <% end %>
      </div>  

  </div>
</section>