
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';
@import "font-awesome";
@import "adminLTE/AdminLTE";
@import "skins/skin-red.min";


.navbar-nav > .user-menu > .dropdown-menu > li.user-header > img {
    border: none;
}

.red {
    color: #d9534f !important;
}

.yellow {
    color: #f0ad4e !important;
}

.fundo-branco {
    background: #fff;
    margin-top: 10px;
    padding-bottom: 10px;
}

.todo-list > li .text {
  display: unset !important;
  margin-left: 5px;
  font-weight: 600;
}
.box-body {
  .box-footer{
    margin: 10px -10px -10px;
    &.inside{
      margin: 0px !important;
    }
  }
  .box-header{
      margin: -10px -10px 20px -10px;
      &.cocoon{
        margin: inherit !important;
      }
      &.inside{
        margin: 0px !important;
      }
  }
}

.btn-saldo {
  margin-top:25px;
}

.nav-tabs-custom > .nav-tabs > li.active {
  border-top-color: #90040a !important
}

.form-div {
  margin: auto;
}

.h2-login {
  margin-left: 20%;
}