<div class="box-header with-border">
    <h3 class="box-title">
      <strong>
			New Appointment
      </strong>
    </h3>
</div>
&nbsp;

<div>
	
<%= render 'form', appointment: @appointment %>

<p></p>
<%= link_to 'Back', appointments_path ,:class =>'btn btn-warning'%>
</div>
